.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
  transition: background-color 0.3s ease;
}

.app__whitebg {
  background-color: var(--white-color);
  transition: background-color 0.3s ease;
}

.app__primarybg {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--gray-color);
    font-family: var(--font-roboto-slab);
  }
}

.head-text {
  font-size: clamp(2rem, 2vw + 1rem, 4rem);
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }
}

.p-text {
  font-size: clamp(0.8rem, 0.5vw + 0.5rem, 1.25rem);
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;
}

.bold-text {
  font-size: clamp(0.9rem, 0.5vw + 0.6rem, 1.5rem);
  font-weight: 800;
  color: var(--black-color);
  text-align: left;
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: clamp(40px, 3vw, 70px);
    height: clamp(40px, 3vw, 70px);
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: clamp(17px, 1.2vw, 30px);
      height: clamp(17px, 1.2vw, 30px);
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      box-shadow: 0 0 20px var(--lightGray-color);

      svg {
        color: #ffffff;
      }
    }
  }

  .app__social-separator {
    width: 60%;
    height: 1px;
    background-color: var(--gray-color);
    opacity: 0.3;
    margin: 0.4rem 0;
    border-radius: 1px;
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: clamp(8px, 0.6vw, 15px);
    height: clamp(8px, 0.6vw, 15px);
    border-radius: 50%;
    background-color: var(--dot-color);
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

[data-page="photography"] {
  .app__social {
    div:hover {
      svg {
        color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
